@page "/createaccount"


<div class="card">
    <div class="card-header">
        <strong>Register</strong>
    </div>
    <div class="card-body">
        <div class="col-xl-6 col-md-8 col-12">
            <input type="text" placeholder="first name" class="form-control dark-theme-textbox">
          
        </div>
        <br />
        <div class="col-xl-6 col-md-8 col-12">
            <input type="text" placeholder="last name" class="form-control dark-theme-textbox">
        </div>
        <br />
        <div class="col-xl-6 col-md-8 col-12">
            <input type="text"  placeholder="User Name" class="form-control dark-theme-textbox" autocomplete="new-username">
            
        </div>
        <br />
        <div class="col-xl-6 col-md-8 col-12">
            <input type="password" placeholder="password" class="form-control dark-theme-textbox" autocomplete="new-password">
           
        </div>
        <br />
        <div class="col-xl-6 col-md-8 col-12">
            <input type="password"  placeholder="Re-enter Password" class="form-control dark-theme-textbox">
           
        </div>
        <br />
        <div class="col-xl-6 col-md-8 col-12">
            <button type="submit" class="btn btn-danger">Register</button>
            &nbsp;
            <a style="font-weight: bold;" href="/">Already have an account?</a>
        </div>
        <hr class="white-horizontal-line" />
    </div>
</div>

