@page "/login"



<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <blockquote class="blockquote text-center">
                <p class="h3"><strong>Login</strong></p>
            </blockquote>
            <hr class="white-horizontal-line" />
            <div>
                <input id="input_emailaddress" type="text" class="form-control dark-theme-textbox" placeholder="username">
            </div>
            <br />
            <div>
                <input id="input_password" type="password" class="form-control dark-theme-textbox" placeholder="password">
            </div>
            <br />
            <div>
                <div>
                    <button id="button_login" type="submit" class="btn btn-danger btn-md">Login</button>
                </div>
                <br />
                <div>
                    <a style="font-weight: bold;" href="/createaccount">Create an account</a>
                </div>
            </div>
            <hr class="white-horizontal-line" />
            <div class="col-12">
                <p style="font-size: larger;" class="white-text">
                    Personal Tool is a website of TTT
                </p>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

